$background-color:hsl(217, 28%, 15%);
$texts:#ffffff;
$button-cyan: hsl(176, 68%, 64%);
$button-blue: hsl(198, 60%, 50%);
$pixel: 62.5%;
$testimonial-card:hsl(219, 30%, 18%);
$footer-background: hsl(216, 53%, 9%);