@import "./style-variables/variables.scss";
@import url("https://fonts.google.com/specimen/Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


html {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  font-size: $pixel;
}


